<div class="container">
  <div *ngIf="videoInfo">
    <div class="videoContainer">

      <video #videoPlayer (loadedmetadata)="onMetadata($event, videoPlayer)" (timeupdate)="onTimeUpdate($event, videoPlayer)" >
        <source src="{{ rutaServer }}{{videoInfo.video_src}}">
      </video>

      <div class="progreso">
        <div class="barra"  [ngStyle]="{'width': progreso + '%'}"    ></div>
      </div>

    </div>
    <div class="row">
      <div class="controles ">
        <div class="col-sm-1 pull-left text-center" (click)="reproducirVideo()">
          <i class="fa fa-play"></i>
          <fa-icon [icon]="faPlay"></fa-icon>
        </div>

        <div class="col-sm-1 pull-left text-center" (click)="pausarVideo()">
          <fa-icon [icon]="faPause"></fa-icon>

        </div>

        <div class="col-sm-1 pull-left text-center" (click)="detenerVideo()">
          <fa-icon [icon]="faStop"></fa-icon>
        </div>
      </div>
    </div>

    <div class="detalles">
    <h1> {{videoInfo.titulo}}  <div class="tiempo">
      ( <span  *ngIf="posicion"> {{posicion}} /</span>  {{duracion }} )
    </div>  </h1>
      <p>{{ videoInfo.descripcion }}</p>
    </div>
    <div [innerHtml]="htmlToAdd"></div>
    <div><br></div>
  </div>
</div>
